<!DOCTYPE html>
<html lang="en">
<body>
    <header class="PIheader">
        <%- include('partials/header.ejs'); %>
      </header>
      <nav class="NPnav">
        <%- include('partials/nav.ejs'); %>
        </nav>  
    <section>
        <div>
            <img class="user-profile-image" src="<%=users.image%>" style="width: 300px; height: 300px; border-radius: 100%; display:block; margin-left: auto; margin-right: auto; object-fit: cover;" />
        </div>
        <div>
            <h2 class="title" style="text-align:center;">User: <%=users.username%> </h2>
        </div>
    </section>

    <main class="container">
        <div>
            
            <h2 class="user" style="text-align:center;">Posts:<%=users._id.post%></h2>

            <div>
                <button style="display:block; margin-left: auto; margin-right: auto"><a href="/user/<%=id%>/edit" >Edit User</a></button>
            </div>
          
            <div>
                <p class="control">
                    <form action="/user/<%= id %>?_method=DELETE" method="POST">
                            <input class="button is-danger" type="submit" value="Delete User" style="display:block; margin-left: auto; margin-right: auto"/>                    
                    </form>
                </p>

    </main>

</body>

</html>